* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "TT Firs Neue", Arial, sans-serif;
}

a {
  text-decoration: none !important;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

body {
  padding-top: 100px;
}

.park,
.load,
.advantages,
.callToAction,
footer {
  padding: 70px 0;
}

.proposal_modal .modal-content {
  border-radius: 10px;
  padding: 40px 40px 100px;
  position: relative;
}
.proposal_modal .modal-content .modal-header {
  border-bottom: none;
}
.proposal_modal .modal-content .modal-header .close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 30px !important;
}
.proposal_modal .modal-content form input,
.proposal_modal .modal-content form textarea {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 20px;
  border: 2px solid #e6ecf2;
  border-radius: 4px;
  transition: 0.2s;
}
.proposal_modal .modal-content form input:focus,
.proposal_modal .modal-content form textarea:focus {
  border: 2px solid #37a2aa;
  outline: none;
}
.proposal_modal .modal-content form textarea {
  height: 160px;
}
.proposal_modal .modal-content form button {
  background: #37a2aa;
  color: #fff;
  border-radius: 4px;
  height: 50px;
  line-height: 50px;
  transition: 0.2s ease;
  padding: 0 26px;
  width: 100%;
  float: right;
  font-size: 15px;
  font-weight: 500;
  border: none;
}
.proposal_modal .modal-content form button:hover {
  background-color: #3CB4BD;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar .nav-item {
  padding-right: 19px !important;
  padding-left: 19px !important;
}
.navbar .nav-item .nav-link {
  padding: 38px 0;
  position: relative;
  transition: 0.2s ease;
}
.navbar .nav-item .nav-link:focus {
  color: rgba(0, 0, 0, 0.5);
}
.navbar .nav-item .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
}
.navbar .nav-item .nav-link.active::after {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #F08F4D;
  transform-origin: bottom right;
  transform: scaleX(1);
}
.navbar .nav-item .nav-link::after {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #F08F4D;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.75, 0, 0.175, 1);
}
.navbar .nav-item .nav-link:hover {
  color: rgba(0, 0, 0, 0.9);
}
.navbar .nav-item .nav-link:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}
.navbar .right_side button {
  border: none;
  background-color: #F08F4D;
  color: #fff;
  -webkit-animation: proposal_animation 1.5s infinite;
          animation: proposal_animation 1.5s infinite;
  padding: 7px 22px;
}
.navbar .right_side button:hover {
  opacity: 0.8;
}
@-webkit-keyframes proposal_animation {
  from {
    background-color: rgba(240, 143, 77, 0.6);
  }
  to {
    background-color: #F08F4D;
  }
}
@keyframes proposal_animation {
  from {
    background-color: rgba(240, 143, 77, 0.6);
  }
  to {
    background-color: #F08F4D;
  }
}

.carousel {
  height: 650px;
  position: relative;
}
.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  opacity: 1;
}
.carousel .carousel-control-prev .carousel-control-prev-icon,
.carousel .carousel-control-prev .carousel-control-next-icon,
.carousel .carousel-control-next .carousel-control-prev-icon,
.carousel .carousel-control-next .carousel-control-next-icon {
  background-image: none;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: #37a2aa;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
}
.carousel .carousel-control-prev .carousel-control-prev-icon i,
.carousel .carousel-control-prev .carousel-control-next-icon i,
.carousel .carousel-control-next .carousel-control-prev-icon i,
.carousel .carousel-control-next .carousel-control-next-icon i {
  color: white;
  font-size: 20px;
}
.carousel .carousel-control-prev .carousel-control-prev-icon:hover,
.carousel .carousel-control-prev .carousel-control-next-icon:hover,
.carousel .carousel-control-next .carousel-control-prev-icon:hover,
.carousel .carousel-control-next .carousel-control-next-icon:hover {
  transform: scale(1.1);
}
.carousel .carousel-indicators {
  margin-right: 0;
  margin-left: 0;
  left: 58.333333%;
  justify-content: flex-start;
  padding-left: 15px;
}
.carousel .carousel-indicators svg {
  fill: white;
  stroke-dashoffset: 200;
  stroke-dasharray: 200;
  stroke: #37a2aa;
}
.carousel .carousel-indicators svg .smallDot {
  fill: #37a2aa;
}
.carousel .carousel-indicators svg.active {
  background-color: transparent;
  -webkit-animation: indicators 12s;
          animation: indicators 12s;
}
@-webkit-keyframes indicators {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes indicators {
  to {
    stroke-dashoffset: 0;
  }
}
.carousel .carousel-indicators::before {
  display: none;
}
.carousel .carousel-indicators::after {
  display: none;
}
.carousel .carousel-inner {
  position: relative;
}
.carousel .carousel-item {
  background-color: #f5f5f5;
  overflow: hidden;
}
.carousel .carousel-item.active .sliderImg {
  -webkit-animation: sliderImgAnimation 0.5s forwards;
          animation: sliderImgAnimation 0.5s forwards;
}
@-webkit-keyframes sliderImgAnimation {
  to {
    opacity: 1;
  }
}
@keyframes sliderImgAnimation {
  to {
    opacity: 1;
  }
}
.carousel .carousel-item:nth-child(3) .img {
  background-image: url("../img/slider5.jpeg") !important;
}
.carousel .carousel-item:nth-child(2) .img {
  background-image: url("../img/slider4.jpeg") !important;
}
.carousel .carousel-item .sliderImg {
  transform: rotateZ(20deg) translateY(-100px);
  position: relative;
  height: 650px;
  width: 100%;
  opacity: 0;
  transform-origin: top;
}
.carousel .carousel-item .sliderImg .imgContainer {
  border-top-right-radius: 550px;
  border-bottom-right-radius: 550px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.carousel .carousel-item .sliderImg .imgContainer .img {
  background-image: url("../img/slider3.jpeg");
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  transform: rotateZ(-20deg) translateY(100px);
}
.carousel .carousel-item .sliderImg::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -45px;
  background-color: #37a2aa;
  height: 200px;
  width: 75%;
  z-index: -1;
  border-top-right-radius: 550px;
  border-bottom-right-radius: 550px;
}
.carousel .carousel-item .sliderCaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.carousel .carousel-item .sliderCaption h1 {
  margin-bottom: 20px;
  max-width: 500px;
  font-weight: 900;
  font-size: 36px;
}
.carousel .carousel-item .sliderCaption p {
  max-width: 500px;
  margin-bottom: 45px;
  font-size: 22px;
}
.carousel .carousel-item .sliderCaption button {
  border: none;
  background-color: #37a2aa;
  color: #fff;
  padding: 10px 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 3px;
}
.carousel .carousel-item .sliderCaption button:hover {
  opacity: 0.8;
}

.advantages img {
  width: 162px;
  height: 162px;
}

.load {
  background-color: #f5f5f5;
}
.load .content h2 {
  margin-bottom: 35px;
  font-size: 2rem;
  font-weight: 700;
}
.load .content p {
  color: #626467;
  font-size: 1.1rem;
  line-height: 1.6;
}
.load .truckImgContainer {
  position: relative;
  height: 300px;
  overflow: hidden;
}
.load .truckImgContainer img {
  display: block;
}
.load .truckImgContainer .truckabove {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.load .truckImgContainer .line {
  position: absolute;
  height: 120px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  z-index: 200;
  background-image: url("../img/line.png");
  background-size: cover;
  background-size: 100% 100%;
}
.load .truckImgContainer .line .station {
  position: absolute;
  left: 5px;
  bottom: -20px;
}
.load .truckImgContainer .line .arrow {
  position: absolute;
  top: -30px;
  right: -30px;
}
.load .truckImgContainer .line .lineImg {
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}
.load .truckImgContainer .truckImg {
  position: absolute;
  top: 10%;
  left: 10%;
}
.load .truckImgContainer .pattern {
  position: absolute;
  bottom: 0;
  left: 0;
}

.park .parkContainer {
  padding: 0 50px;
}
.park .title {
  text-align: center;
  margin-bottom: 50px;
}
.park .title h2 {
  text-transform: uppercase;
  color: #F08F4D;
  font-weight: 700;
  font-size: 20px;
  padding: 5px 0;
  border-bottom: 2px solid #F08F4D;
  display: inline-block;
}
.park .owl-carousel {
  position: relative;
}
.park .owl-carousel .item {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin: 0 10px;
  background-image: linear-gradient(to bottom, #00000015, #000a);
}
.park .owl-carousel .item img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: multiply;
}
.park .owl-carousel .item .caption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 44px 33px;
}
.park .owl-carousel .item .caption h4 {
  font-size: 30px;
  line-height: 40px;
  color: #fff;
  font-weight: 800;
  margin-bottom: 8px;
}
.park .owl-carousel .item .caption span {
  color: #F08F4D;
  font-size: 16px;
  font-weight: 600;
}
.park .owl-carousel .owl-nav {
  position: absolute !important;
  margin: 0 !important;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
}
.park .owl-carousel .owl-nav .owl-next {
  position: absolute;
  right: 20px;
}
.park .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  left: 20px;
}
.park .owl-carousel .owl-nav .owl-next,
.park .owl-carousel .owl-nav .owl-prev {
  background: #fff;
  color: #222;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s ease;
}
.park .owl-carousel .owl-nav .owl-next i,
.park .owl-carousel .owl-nav .owl-prev i {
  transition: 0.2s ease;
}
.park .owl-carousel .owl-nav .owl-next:hover,
.park .owl-carousel .owl-nav .owl-prev:hover {
  background-color: black;
}
.park .owl-carousel .owl-nav .owl-next:hover i,
.park .owl-carousel .owl-nav .owl-prev:hover i {
  color: white;
}

.callToAction {
  background-color: #F08F4D;
}
.callToAction .callToActionImg {
  overflow: hidden;
  height: 100%;
  display: flex;
  align-items: center;
  transform: translateX(0) rotateY(180deg);
}
.callToAction .callToActionImg img {
  max-width: 100%;
}
.callToAction .proposalCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.callToAction .proposalCol h4 {
  font-size: 30px;
  color: white;
  line-height: 52px;
  font-weight: 800;
}
.callToAction .proposalCol p {
  font-size: 15px;
  color: white;
}
.callToAction .proposalCol button {
  background-color: white;
  color: #F08F4D;
  font-weight: 800;
  font-size: 18px;
  border: 2px solid white;
  margin-top: 15px;
  padding: 8px 14px;
  transition: color 0.3s ease-in;
  position: relative;
  z-index: 1;
}
.callToAction .proposalCol button::after {
  content: "";
  position: absolute;
  background-color: #F08F4D;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: scaleX(0);
  z-index: -1;
  transition: 0.3s ease-in;
}
.callToAction .proposalCol button span {
  z-index: 2;
}
.callToAction .proposalCol button:hover {
  color: white;
}
.callToAction .proposalCol button:hover::after {
  transform: scaleX(1);
}

footer {
  background-color: #f4f4f6 h5;
  background-color-line-height: 30px;
  background-color-font-size: 20px;
  background-color-font-weight: 700;
  background-color-margin-bottom: 10px;
}
footer .logo {
  font-size: 30px;
  color: black;
}
footer .footerContent {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
}
footer .map {
  display: block;
  margin-top: 20px;
  color: black;
}
footer .map span {
  margin-left: 10px;
}
footer li {
  margin-top: 24px;
}
footer li a {
  color: black;
  text-transform: capitalize;
}
footer .footerBottom {
  padding-top: 50px;
}
footer .footerBottom a {
  color: black;
}
footer .footerBottom .copyRightCol {
  display: flex;
  align-items: center;
}
footer .footerBottom .okmedia {
  margin-left: 50px;
}
footer .footerBottom .okmedia img {
  width: 100px;
}
footer .footerBottom .okmedia img:hover {
  filter: grayscale(1);
}
footer .footerBottom .social {
  display: flex;
  justify-content: flex-end;
}
footer .footerBottom .social a {
  display: inline-block;
  border: 1px solid #b0b0b0;
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 50%;
  margin-left: 16px;
  color: #373737;
}
footer .footerBottom .social a i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1200px) {
  .navbar {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .navbar .nav-item {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .load .truckImgContainer .truckImg {
    left: 20% !important;
  }

  .carousel .sliderCaption h1,
.carousel .sliderCaption p {
    max-width: 350px !important;
  }
}
@media only screen and (max-width: 992px) {
  .carousel .carousel-indicators {
    left: 50%;
    transform: translateX(-50%);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    z-index: 1;
  }
  .carousel .carousel-item .sliderImgCol::after {
    position: absolute;
    left: 0;
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #00000015, #000a);
  }
  .carousel .carousel-item .sliderCaption {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .carousel .carousel-item .sliderCaption h1 {
    margin-bottom: 0;
  }
  .carousel .carousel-item .sliderCaption p,
.carousel .carousel-item .sliderCaption button {
    display: none;
  }

  .park .caption {
    padding: 0 70px 33px !important;
  }
  .park .caption h4 {
    font-size: 25px !important;
  }
  .park .owl-next,
.park .owl-prev {
    width: 50px !important;
    height: 50px !important;
  }
  .park .owl-next {
    right: 10px !important;
  }
  .park .owl-prev {
    left: 10px !important;
  }

  .load .truckImgContainer .truckImg {
    left: 10% !important;
  }

  .callToAction .callToActionImg {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .carousel {
    height: 400px !important;
  }
  .carousel .sliderImg {
    height: 400px !important;
  }

  .sliderCaption h1 {
    max-width: 350px !important;
    font-size: 30px !important;
  }

  .load .truckImgContainer .truckImg {
    left: 5% !important;
  }

  footer .footerContent {
    margin-top: 20px;
  }
  footer .footerContent.company {
    margin-left: 0;
  }
  footer .copyRightCol {
    justify-content: space-between !important;
  }
  footer .copyRightCol .okmedia {
    margin-left: 0 !important;
  }
  footer .social {
    justify-content: center !important;
    margin-top: 70px !important;
  }
}
@media only screen and (max-width: 600px) {
  .sliderImg::after {
    width: 80% !important;
    height: 400px !important;
  }
}
@media only screen and (max-width: 576px) {
  footer .footerContent {
    margin-left: 0;
  }
  footer .copyRightCol {
    flex-direction: column;
    align-items: flex-start !important;
  }
}/*# sourceMappingURL=style.css.map */