* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'TT Firs Neue', Arial, sans-serif;
}


$primaryColor:#eb7353;

a {
    text-decoration: none !important;
}

ul {
    list-style-type: none;
}


button {
    cursor: pointer;

    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

body {
    padding-top: 100px;
}


.park,
.load,
.advantages,
.callToAction,
footer {
    padding: 70px 0;
}

.proposal_modal {
    .modal-content {
        border-radius: 10px;
        padding: 40px 40px 100px;
        position: relative;

        .modal-header {
            border-bottom: none;

            .close {
                position: absolute;
                right: 20px;
                top: 20px;
                font-size: 30px !important;
            }
        }

        form {

            input,
            textarea {
                width: 100%;
                padding: 12px 20px;
                margin-bottom: 20px;
                border: 2px solid #e6ecf2;
                border-radius: 4px;
                transition: 0.2s;

                &:focus {
                    border: 2px solid $primaryColor;
                    outline: none;

                }
            }

            textarea {
                height: 160px;
            }

            button {
                background: $primaryColor;
                color: #fff;
                border-radius: 4px;
                height: 50px;
                line-height: 50px;
                transition: 0.2s ease;
                padding: 0 26px;
                width: 100%;
                float: right;
                font-size: 15px;
                font-weight: 500;
                border: none;

                &:hover {
                    background-color: #1e7e34;
                }
            }
        }
    }
}

.navbar {
    padding: 0;

    .nav-item {
        padding-right: 19px !important;
        padding-left: 19px !important;

        .nav-link {
            padding: 38px 0;
            position: relative;

            &.active {
                &::after {
                    content: "";
                    height: 3px;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: $primaryColor;
                    transform-origin: bottom right;
                    transform: scaleX(1);
                }
            }

            &::after {
                content: "";
                height: 3px;
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                background: $primaryColor;
                transform-origin: bottom right;
                transform: scaleX(0);
                transition: transform .3s cubic-bezier(.75, 0, .175, 1);
            }

            &:hover {
                color: rgba(0, 0, 0, .9);
                ;

                &::after {
                    transform-origin: bottom left;
                    transform: scaleX(1);

                }
            }
        }
    }

    .right_side {
        button {
            border: none;
            background-color: #eb7353;
            color: #fff;
            animation: proposal_animation 1.5s infinite;
            padding: 7px 22px;

            &:hover {
                opacity: .8;
            }
        }

        @keyframes proposal_animation {
            from {
                background-color: rgba(#eb7353, .6);
            }

            to {
                background-color: #eb7353;

            }
        }
    }
}

.carousel {
    height: 700px;
    position: relative;

    .carousel-indicators {
        margin-right: 0;
        margin-left: 0;
        left: 60%;
        justify-content: flex-start;

        svg {
            fill: white;
            stroke-dashoffset: 100;
            // stroke-dasharray: 300;
            stroke: gray;
            &.active {
                background-color: transparent;
                animation: indicators 2s forwards; 
                stroke: black;
            }
            @keyframes indicators {
                // to{
                //     stroke-dashoffset: 0;
                // }
            }
        }


        &::before {
            display: none;
        }

        &::after {
            display: none;
        }
    }
}

.carousel-inner {
    position: relative;
}

.carousel-item {
    background-color: #f5f5f5;

    img {
        height: 700px;
        object-fit: cover;
    }

    .sliderImg {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        transform: rotateZ(20deg) translate(-120px, -50px);
        position: relative;

        .img {
            object-fit: cover;
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
            overflow: hidden;

            img {
                transform: rotateZ(-20deg) translateY(50px);
            }
        }

        &::after {
            position: absolute;
            content: '';
            left: 0;
            bottom: -100px;
            background-color: #0493ec;
            height: 400px;
            width: 80%;
            z-index: -1;
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
        }
    }

    .sliderCaption {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            margin-bottom: 20px;
            max-width: 500px;
            font-weight: 900;
            font-size: 36px;
        }

        p {
            max-width: 500px;
            margin-bottom: 45px;
            font-size: 22px;
        }

        button {
            font-weight: 700;
            border: none;
            background-color: #eb7353;
            color: #fff;
            padding: 10px 30px;
            width: fit-content;
            border-radius: 3px;

            &:hover {
                opacity: .8;
            }
        }
    }
}


.advantages {

    img {
        width: 162px;
        height: 162px;
    }
}

.load {
    .content {
        h2 {
            margin-bottom: 35px;
            font-size: 2rem;
            font-weight: 700;
        }

        p {
            color: #626467;
            font-size: 1.1rem;
            line-height: 1.6;
        }
    }

    .truckImgContainer {
        position: relative;
        height: 300px;

        img {
            display: block;
        }

        .truckabove {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .line {
            position: absolute;
            height: 120px;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            z-index: 200;
            background-image: url('../img/line.png');
            background-size: cover;

            .station {
                position: absolute;
                left: 5px;
                bottom: -20px;
            }

            .arrow {
                position: absolute;
                top: -20px;
                right: -30px;

            }

            .lineImg {
                background-size: cover;
                object-fit: cover;
            }

        }

        .truckImg {
            position: absolute;
            top: 10%;
            left: 20%;

        }

        .pattern {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}

.park {
    .parkContainer {
        padding: 0 50px;
    }

    .title {
        text-align: center;
        margin-bottom: 50px;

        h2 {
            text-transform: uppercase;
            color: #fe5000;
            font-weight: 700;
            font-size: 20px;
            padding: 5px 0;
            border-bottom: 2px solid #fe5000;
            display: inline-block;
        }
    }

    .owl-carousel {
        position: relative;

        .item {
            border-radius: 5px;
            overflow: hidden;
            position: relative;
            margin: 0 10px;
            background-image: linear-gradient(to bottom, #00000015, #000a);

            img {
                max-width: 100%;
                object-fit: cover;
                mix-blend-mode: multiply;
            }

            .caption {
                position: absolute;
                left: 0;
                bottom: 0;
                padding: 0 44px 33px;

                h4 {
                    font-size: 30px;
                    line-height: 40px;
                    color: #fff;
                    font-weight: 800;
                    margin-bottom: 8px;
                }

                span {
                    color: $primaryColor;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }

        .owl-nav {
            position: absolute !important;
            margin: 0 !important;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 100%;

            .owl-next {
                position: absolute;
                right: 20px;
            }

            .owl-prev {
                position: absolute;
                left: 20px;
            }

            .owl-next,
            .owl-prev {
                background: #fff;
                color: #222;
                width: 75px;
                height: 75px;
                border-radius: 50%;
                font-size: 20px;
                top: 50%;
                transform: translateY(-50%);
                transition: 0.2s ease;

                i {
                    transition: 0.2s ease;
                }

                &:hover {
                    background-color: black;

                    i {
                        color: white;

                    }
                }
            }
        }
    }
}

.callToAction {
    background-color: $primaryColor;

    .callToActionImg {
        overflow: hidden;
        height: 100%;
        display: flex;
        align-items: center;
        transform: translateX(0) rotateY(180deg);

        img {
            max-width: 100%;
        }
    }

    .proposalCol {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h4 {

            font-size: 30px;
            color: white;
            line-height: 52px;
            font-weight: 800;
        }

        p {
            font-size: 15px;
            color: white;
        }

        button {
            background-color: white;
            color: $primaryColor;
            font-weight: 800;
            font-size: 18px;
            border: 2px solid white;
            margin-top: 15px;
            padding: 8px 14px;
            transition: color 0.3s ease-in;
            position: relative;
            z-index: 1;

            &::after {
                content: '';
                position: absolute;
                background-color: $primaryColor;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                transform: scaleX(0);
                z-index: -1;
                transition: 0.3s ease-in;
            }

            span {
                z-index: 2;
            }

            &:hover {
                color: white;

                &::after {
                    transform: scaleX(1);

                }
            }
        }
    }
}

footer {
    background-color: #f4f4f6;

    h5 {
        line-height: 30px;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .logo {
        font-size: 30px;
        color: black;
    }

    .footerContent {
        width: fit-content;
        margin-left: auto;
    }

    .map {
        display: block;
        margin-top: 20px;
        color: black;

        span {
            margin-left: 10px;
        }
    }

    li {
        margin-top: 24px;

        a {
            color: black;
            text-transform: capitalize;
        }
    }

    .footerBottom {
        padding-top: 50px;

        a {
            color: black;
        }

        .copyRightCol {
            display: flex;
            align-items: center;
        }

        .okmedia {
            margin-left: 50px;

            img {
                width: 100px;

                &:hover {
                    filter: grayscale(1);
                }
            }
        }

        .social {
            display: flex;
            justify-content: flex-end;

            a {
                display: inline-block;
                border: 1px solid #b0b0b0;
                width: 40px;
                height: 40px;
                position: relative;
                border-radius: 50%;
                margin-left: 16px;
                color: #373737;

                i {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}