* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "TT Firs Neue", Arial, sans-serif;
}

a {
  text-decoration: none !important;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

body {
  padding-top: 100px;
}

.park,
.load,
.advantages,
.callToAction,
footer {
  padding: 70px 0;
}

.proposal_modal .modal-content {
  border-radius: 10px;
  padding: 40px 40px 100px;
  position: relative;
}
.proposal_modal .modal-content .modal-header {
  border-bottom: none;
}
.proposal_modal .modal-content .modal-header .close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 30px !important;
}
.proposal_modal .modal-content form input,
.proposal_modal .modal-content form textarea {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 20px;
  border: 2px solid #e6ecf2;
  border-radius: 4px;
  transition: 0.2s;
}
.proposal_modal .modal-content form input:focus,
.proposal_modal .modal-content form textarea:focus {
  border: 2px solid #eb7353;
  outline: none;
}
.proposal_modal .modal-content form textarea {
  height: 160px;
}
.proposal_modal .modal-content form button {
  background: #eb7353;
  color: #fff;
  border-radius: 4px;
  height: 50px;
  line-height: 50px;
  transition: 0.2s ease;
  padding: 0 26px;
  width: 100%;
  float: right;
  font-size: 15px;
  font-weight: 500;
  border: none;
}
.proposal_modal .modal-content form button:hover {
  background-color: #1e7e34;
}

.navbar {
  padding: 0;
}
.navbar .nav-item {
  padding-right: 19px !important;
  padding-left: 19px !important;
}
.navbar .nav-item .nav-link {
  padding: 38px 0;
  position: relative;
}
.navbar .nav-item .nav-link.active::after {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #eb7353;
  transform-origin: bottom right;
  transform: scaleX(1);
}
.navbar .nav-item .nav-link::after {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #eb7353;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.75, 0, 0.175, 1);
}
.navbar .nav-item .nav-link:hover {
  color: rgba(0, 0, 0, 0.9);
}
.navbar .nav-item .nav-link:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}
.navbar .right_side button {
  border: none;
  background-color: #eb7353;
  color: #fff;
  -webkit-animation: proposal_animation 1.5s infinite;
          animation: proposal_animation 1.5s infinite;
  padding: 7px 22px;
}
.navbar .right_side button:hover {
  opacity: 0.8;
}
@-webkit-keyframes proposal_animation {
  from {
    background-color: rgba(235, 115, 83, 0.6);
  }
  to {
    background-color: #eb7353;
  }
}
@keyframes proposal_animation {
  from {
    background-color: rgba(235, 115, 83, 0.6);
  }
  to {
    background-color: #eb7353;
  }
}

.carousel {
  height: 700px;
  position: relative;
}
.carousel .carousel-indicators {
  margin-right: 0;
  margin-left: 0;
  left: 60%;
  justify-content: flex-start;
}
.carousel .carousel-indicators svg {
  fill: white;
  stroke-dashoffset: 100;
  stroke: gray;
}
.carousel .carousel-indicators svg.active {
  background-color: transparent;
  -webkit-animation: indicators 2s forwards;
          animation: indicators 2s forwards;
  stroke: black;
}
@-webkit-keyframes indicators {}
@keyframes indicators {}
.carousel .carousel-indicators::before {
  display: none;
}
.carousel .carousel-indicators::after {
  display: none;
}

.carousel-inner {
  position: relative;
}

.carousel-item {
  background-color: #f5f5f5;
}
.carousel-item img {
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}
.carousel-item .sliderImg {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: rotateZ(20deg) translate(-120px, -50px);
  position: relative;
}
.carousel-item .sliderImg .img {
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  overflow: hidden;
}
.carousel-item .sliderImg .img img {
  transform: rotateZ(-20deg) translateY(50px);
}
.carousel-item .sliderImg::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -100px;
  background-color: #0493ec;
  height: 400px;
  width: 80%;
  z-index: -1;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.carousel-item .sliderCaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.carousel-item .sliderCaption h1 {
  margin-bottom: 20px;
  max-width: 500px;
  font-weight: 900;
  font-size: 36px;
}
.carousel-item .sliderCaption p {
  max-width: 500px;
  margin-bottom: 45px;
  font-size: 22px;
}
.carousel-item .sliderCaption button {
  font-weight: 700;
  border: none;
  background-color: #eb7353;
  color: #fff;
  padding: 10px 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 3px;
}
.carousel-item .sliderCaption button:hover {
  opacity: 0.8;
}

.advantages img {
  width: 162px;
  height: 162px;
}

.load .content h2 {
  margin-bottom: 35px;
  font-size: 2rem;
  font-weight: 700;
}
.load .content p {
  color: #626467;
  font-size: 1.1rem;
  line-height: 1.6;
}
.load .truckImgContainer {
  position: relative;
  height: 300px;
}
.load .truckImgContainer img {
  display: block;
}
.load .truckImgContainer .truckabove {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.load .truckImgContainer .line {
  position: absolute;
  height: 120px;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 200;
  background-image: url("../img/line.png");
  background-size: cover;
}
.load .truckImgContainer .line .station {
  position: absolute;
  left: 5px;
  bottom: -20px;
}
.load .truckImgContainer .line .arrow {
  position: absolute;
  top: -20px;
  right: -30px;
}
.load .truckImgContainer .line .lineImg {
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}
.load .truckImgContainer .truckImg {
  position: absolute;
  top: 10%;
  left: 20%;
}
.load .truckImgContainer .pattern {
  position: absolute;
  bottom: 0;
  left: 0;
}

.park .parkContainer {
  padding: 0 50px;
}
.park .title {
  text-align: center;
  margin-bottom: 50px;
}
.park .title h2 {
  text-transform: uppercase;
  color: #fe5000;
  font-weight: 700;
  font-size: 20px;
  padding: 5px 0;
  border-bottom: 2px solid #fe5000;
  display: inline-block;
}
.park .owl-carousel {
  position: relative;
}
.park .owl-carousel .item {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin: 0 10px;
  background-image: linear-gradient(to bottom, #00000015, #000a);
}
.park .owl-carousel .item img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: multiply;
}
.park .owl-carousel .item .caption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 44px 33px;
}
.park .owl-carousel .item .caption h4 {
  font-size: 30px;
  line-height: 40px;
  color: #fff;
  font-weight: 800;
  margin-bottom: 8px;
}
.park .owl-carousel .item .caption span {
  color: #eb7353;
  font-size: 16px;
  font-weight: 600;
}
.park .owl-carousel .owl-nav {
  position: absolute !important;
  margin: 0 !important;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
}
.park .owl-carousel .owl-nav .owl-next {
  position: absolute;
  right: 20px;
}
.park .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  left: 20px;
}
.park .owl-carousel .owl-nav .owl-next,
.park .owl-carousel .owl-nav .owl-prev {
  background: #fff;
  color: #222;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s ease;
}
.park .owl-carousel .owl-nav .owl-next i,
.park .owl-carousel .owl-nav .owl-prev i {
  transition: 0.2s ease;
}
.park .owl-carousel .owl-nav .owl-next:hover,
.park .owl-carousel .owl-nav .owl-prev:hover {
  background-color: black;
}
.park .owl-carousel .owl-nav .owl-next:hover i,
.park .owl-carousel .owl-nav .owl-prev:hover i {
  color: white;
}

.callToAction {
  background-color: #eb7353;
}
.callToAction .callToActionImg {
  overflow: hidden;
  height: 100%;
  display: flex;
  align-items: center;
  transform: translateX(0) rotateY(180deg);
}
.callToAction .callToActionImg img {
  max-width: 100%;
}
.callToAction .proposalCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.callToAction .proposalCol h4 {
  font-size: 30px;
  color: white;
  line-height: 52px;
  font-weight: 800;
}
.callToAction .proposalCol p {
  font-size: 15px;
  color: white;
}
.callToAction .proposalCol button {
  background-color: white;
  color: #eb7353;
  font-weight: 800;
  font-size: 18px;
  border: 2px solid white;
  margin-top: 15px;
  padding: 8px 14px;
  transition: color 0.3s ease-in;
  position: relative;
  z-index: 1;
}
.callToAction .proposalCol button::after {
  content: "";
  position: absolute;
  background-color: #eb7353;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: scaleX(0);
  z-index: -1;
  transition: 0.3s ease-in;
}
.callToAction .proposalCol button span {
  z-index: 2;
}
.callToAction .proposalCol button:hover {
  color: white;
}
.callToAction .proposalCol button:hover::after {
  transform: scaleX(1);
}

footer {
  background-color: #f4f4f6;
}
footer h5 {
  line-height: 30px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
footer .logo {
  font-size: 30px;
  color: black;
}
footer .footerContent {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}
footer .map {
  display: block;
  margin-top: 20px;
  color: black;
}
footer .map span {
  margin-left: 10px;
}
footer li {
  margin-top: 24px;
}
footer li a {
  color: black;
  text-transform: capitalize;
}
footer .footerBottom {
  padding-top: 50px;
}
footer .footerBottom a {
  color: black;
}
footer .footerBottom .copyRightCol {
  display: flex;
  align-items: center;
}
footer .footerBottom .okmedia {
  margin-left: 50px;
}
footer .footerBottom .okmedia img {
  width: 100px;
}
footer .footerBottom .okmedia img:hover {
  filter: grayscale(1);
}
footer .footerBottom .social {
  display: flex;
  justify-content: flex-end;
}
footer .footerBottom .social a {
  display: inline-block;
  border: 1px solid #b0b0b0;
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 50%;
  margin-left: 16px;
  color: #373737;
}
footer .footerBottom .social a i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}/*# sourceMappingURL=style.css.map */